$navbar-height: 60px;

mat-toolbar {
    height: $navbar-height;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    text-align: center;
}

mat-toolbar {
    .actions {
        text-align: right;
    }
    
    .brand {
        text-align: left;
    }
}
