<mat-toolbar color="primary">
    <div class="content-wrapper">
        <div fxLayout="row" fxFill>
            <div fxFlex="25" class="brand">{{ app.name }}</div>
            <div fxFlex="auto"></div>
            <div fxFlex="25" class="actions">
                <button *ngIf="userOnline()" mat-mini-fab color="primary" routerLink="/add_event">
                    <mat-icon aria-label="Add event button">add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-toolbar>
