<mat-card fxFill>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>event</mat-icon>
        </div>
        <mat-card-title>New event</mat-card-title>
        <mat-card-subtitle>Public event</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form id="new-event-form" fxLayout="column" fxFill>
            <mat-form-field>
                <input matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Location">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Description">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Add tag" 
                       name="tag" 
                       [(ngModel)]="tag" 
                       (keyup)="tag_onKeyUp($event)"
                       [matAutocomplete]="taglist">
                <mat-autocomplete #taglist="matAutocomplete">
                    <mat-option *ngFor="let tag of taglist" [value]="tag.id">
                        {{ tag.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-chip-list>
                <mat-chip *ngFor="let tag of event.tags">{{ tag.name }}</mat-chip>
            </mat-chip-list>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Confirm</button>
        <button mat-raised-button>Cancel</button>
    </mat-card-actions>
</mat-card>
